<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <!--render html with 3 curly braces-->
  <!--body is used by hbs to insert the content of the other pages-->
  {{{ body }}}
</body>
</html>